# Игнорировать файл с переменными окружения
.env

# Игнорировать виртуальное окружение
.venv/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
